<div class="profile-content">
    <div class="input">
      <label for="firstName" class="form-label">AdminId</label>
      <input type="text" class="form-control" id="firstName" placeholder="" value={{adminId}} required="" disabled>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>

    <div class="input">
      <label for="firstName" class="form-label">User Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="" value={{superUserInfo.username}} required="" disabled>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>

    <div class="input">
      <label for="firstName" class="form-label">Full Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="" value={{superUserInfo.fullName}} required="" disabled>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>

    <div class="input">
      <label for="firstName" class="form-label">Phone Number</label>
      <input type="text" class="form-control" id="firstName" placeholder="" value={{superUserInfo.phoneNumber}} required="" disabled>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>

    <div class="input">
      <label for="firstName" class="form-label">Email ID</label>
      <input type="text" class="form-control" id="firstName" placeholder="" value={{superUserInfo.email}} required="" disabled>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>
</div>

  