.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.header{
  text-align: center !important;
  font-size: 300%;
  font-family: 'Source Sans Pro', sans-serif;
}