<div class="profile-content">
    <div class="input">
      <label for="firstName" class="form-label">USN</label>
      <input type="text" class="form-control" id="firstName" placeholder="" value={{USN}} required="" disabled>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>

    <div class="input">
      <label for="firstName" class="form-label">User Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="" value={{userInfo.username}} required="" disabled>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>

    <div class="input">
      <label for="firstName" class="form-label">Full Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="" value={{userInfo.fullName}} required="" disabled>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>

    <div class="input">
      <label for="firstName" class="form-label">Phone Number</label>
      <input type="text" class="form-control" id="firstName" placeholder="" value={{userInfo.phoneNumber}} required="" disabled>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>

    <div class="input">
      <label for="firstName" class="form-label">Email ID</label>
      <input type="text" class="form-control" id="firstName" placeholder="" value={{userInfo.email}} required="" disabled>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>
</div>

  